{% extends 'base.html' %}

{% block content %}

<a href="{% url 'allocations:create' %}" class="btn btn-warning"> New Allocation </a>
<h1> List of Allocations </h1>
<p>Click on the allocation to see list of allocated assets</p>
    <div class="narrow-table">
        <table class="ui selectable celled striped table" id="mainTable">
          <thead>
            <tr>
              <th>Date</th>
              <th>Document Number</th>
              <th>Previous Donor</th>
              <th>Previous Budget Code</th>
              <th>New Donor</th>
              <th>New Budget Code</th>
              <th>Comments</th>
            </tr>
          </thead>
          <tbody>
            {% for instance in object_list %}
            <tr>
              <td>{{ instance.date }}</td>
              <td class="selectable"><a href="{{ instance.get_absolute_url }}">{{ instance.documentNumber }}</a></td>
              <td>{{ instance.previousDonor }}</a></td>
              <td>{{ instance.previousBudget }}</a></td>
              <td>{{ instance.newDonor }}</a></td>
              <td>{{ instance.newBudget }}</a></td>
              <td>{{ instance.comments }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}

{% load static %}
{% block scripts %}

<!--    Customization JS for table search-->
    <script src='{% static "js/tablesearch.js" %}'></script>
    <script src='{% static "js/table.js" %}'></script>

    <link rel="stylesheet" type="text/css" href="{% static "css/datatables.min.css" %}"/>
    <script src='{% static "js/datatables.min.js" %}'></script>


{% endblock %}