{% extends 'base.html' %}

{% block content %}

<form  method="POST", action=".">
    {% csrf_token %}
    <h3>Generate Asset Report</h3>
    <p>Select Asset:</p>
    <div class="cust-select">
        <select  name="asset" class="form-control selectpicker" data-live-search="true" searchable="Choose Asset">
            {% for instance in asset_list %}
          <option value="{{ instance.id }}">{{instance.tag_number}}</option>
            {% endfor %}
        </select>
    </div>

    <p></p>
    <input type="submit" class="btn btn-secondary" value='Generate Report' />


</form>


{% endblock %}