{% extends 'base.html' %}

{% block content %}

<form method="POST", action=".">
    {% csrf_token %}
    <h3>Generate Custodian Report</h3>
    <p>Select Custodian</p>
    <div class="cust-select">
        <select  class="form-control selectpicker" data-live-search="true" name="custodian" searchable="Choose Custodian" >
            {% for instance in custodian_list %}
          <option value="{{ instance.id }}">{{instance.name}}</option>
            {% endfor %}
        </select>
    </div>

    <p></p>
    <input type="submit" class="btn btn-secondary" value='Generate Report' />
</form>

{% endblock %}
{% load static %}
