{% extends 'base.html' %}

{% block content %}

<h1> Report for {{ast_name.tag_number}} {{ast_name.description}}</h1>

    <div class="narrow-table">
        <table class="ui celled table">
          <thead>
            <tr>
              <th>Custodian Name</th>
              <th>Date of Transaction</th>
            </tr>
          </thead>
          <tbody>
            {% for instance in object_list %}
            <tr>
              <td class="selectable"><a href="{{ instance.custodian_id.get_absolute_url }}">{{ instance.custodian_id.name }}</a></td>
              <td class="selectable">{{ instance.history_date }}</td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}